@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-gradient-primary {
    @apply bg-gradient-to-r from-[#5800C3] to-[#C2C4F9] bg-clip-text text-transparent;
  }
  
  .bg-gradient-primary {
    @apply bg-gradient-to-r from-[#5800C3] to-[#C2C4F9];
  }

  .border-gradient-primary {
    @apply border-transparent bg-gradient-to-r from-[#5800C3] to-[#C2C4F9] bg-clip-border;
  }

  .bg-gradient-radial {
    background: radial-gradient(circle, var(--tw-gradient-stops));
  }
}
